{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<main>

    <!-- =======================
    Menu item START -->
    <section class="pt-4">
        <div class="container">
            <div class="card rounded-3 border p-3 pb-2">
                <!-- Avatar and info START -->
                <div class="d-sm-flex align-items-center">
                    <div class="avatar avatar-xl mb-2 mb-sm-0">
                        <img class="avatar-img rounded-circle"
                             src="{% if user.photo %} {{ user.photo.url }} {% else %} {% static 'website/images/user.png' %}{% endif %}"
                             alt="">
                    </div>
                    <h4 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">{% if user.first_name %} Здравствуй,</span>
                        {{ user.first_name }} {{ user.last_name }} 👋 {% else %} <a
                                style="color: black; font-size: 25px; text-decoration: underline;"
                                href="{% url 'users:profile' %}">Заполните свои данные!</a>{% endif %}</h4>
                    <a href="{% url 'realtors:create-request' %}" class="btn btn-sm mb-0 ms-auto flex-shrink-0"
                       style="background-color: #099642; color: white;"><i class="bi bi-plus-lg fa-fw me-2"></i>Создать
                        заявку</a>

                    <style>
                        @media (max-width: 767.98px) {
                            a.btn.btn-sm.mb-0.ms-auto.flex-shrink-0 {
                                width: 100%;
                            }
                            .d-sm-flex.align-items-center {
                                text-align: center;
                            }
                        }
                    </style>
                </div>
                <!-- Avatar and info START -->

                <!-- Responsive navbar toggler -->
                <button class="btn btn-primary w-100 d-block d-xl-none mt-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#dashboardMenu" aria-controls="dashboardMenu"
                        style="background-color: #099642; border: #09964">
                    <i class="bi bi-list"></i> Приборная панель
                </button>

                <!-- Nav links START -->
                <div class="offcanvas-xl offcanvas-end mt-xl-3" tabindex="-1" id="dashboardMenu">
                    <div class="offcanvas-header border-bottom p-3">
                        <h5 class="offcanvas-title">Меню</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#dashboardMenu" aria-label="Close"></button>
                    </div>
                    <!-- Offcanvas body -->
                    <div class="offcanvas-body p-3 p-xl-0" style="justify-content: center;">
                        <!-- Nav item -->
                        <div class="navbar navbar-expand-xl">
                            <ul class="navbar-nav navbar-offcanvas-menu">

                                <li class="nav-item"><a class="nav-link" href="{% url 'managers:index' %}"><i
                                        class="bi bi-house-door fa-fw me-1"></i>Приборная панель</a></li>

                                <li class="nav-item"><a class="nav-link active"
                                                        href="{% url 'managers:all-applications'  %}"><i
                                        class="bi bi-journals fa-fw me-1"></i>Заявки</a></li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'managers:accepted-application' %}">
                                        <i class="bi bi-star fa-fw me-1"></i>Принятые
                                    </a>
                                </li>


                                <li><a class="nav-link" href="{% url 'users:profile' %}"><i
                                        class="bi bi-gear fa-fw me-1"></i>Аккаунт</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Nav links END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Menu item END -->

    <!-- =======================
    Content START -->
    <section class="pt-0">
        <div class="container vstack gap-4">
            <!-- Booking table START -->
            <div class="row">
                <div class="col-12">
                    <div class="card border rounded-3">
                        <!-- Card header START -->
                        <div class="card-header border-bottom">
                            <div class="d-sm-flex justify-content-between align-items-center">
                                <h5 class="mb-2 mb-sm-0">Заявки</h5>
                            </div>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body">
                            <!-- Search and select START -->
                            <div class="row g-3 align-items-center justify-content-between mb-3">
                                <!-- Search -->
                                <div class="col-md-12">
                                    <form class="rounded position-relative">
                                        <input id="search-input" class="form-control pe-5" type="search"
                                               placeholder="Искать" aria-label="Искать">
                                        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                                type="submit">
                                            <i class="fas fa-search fs-6"></i>
                                        </button>
                                    </form>
                                    <ul id="search-results" class="list-group mt-2" style="display: none;"></ul>
                                </div>

                                <script>
                                    document.getElementById('search-input').addEventListener('input', function() {
                                    const query = this.value;
                                    const resultsContainer = document.getElementById('search-results');

                                    if (query.length > 0) {
                                        fetch('/managers/search-applications/?q=' + query)
                                            .then(response => response.json())
                                            .then(data => {
                                                resultsContainer.innerHTML = '';
                                                resultsContainer.style.display = 'block';

                                                if (data.length > 0) {
                                                    data.forEach(application => {
                                                        const item = document.createElement('li');
                                                        item.classList.add('list-group-item');

                                                        // Добавляем ссылку на заявку
                                                        item.innerHTML = `
                                                            <a href="${application.url}" class="text-decoration-none">
                                                                ${application.full_name} (ИИН: ${application.iin}, Телефон: ${application.phone_number}, Город: ${application.city})
                                                            </a>
                                                        `;

                                                        resultsContainer.appendChild(item);
                                                    });
                                                } else {
                                                    resultsContainer.innerHTML = '<li class="list-group-item">Нет результатов</li>';
                                                }
                                            });
                                    } else {
                                        resultsContainer.style.display = 'none';
                                        resultsContainer.innerHTML = '';
                                    }
                                });

                                </script>


                            </div>
                            <!-- Search and select END -->

                            <!-- Hotel room list START -->
                            <div class="table-responsive border-0">
                                <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                                    <!-- Table head -->
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="border-0 rounded-start">ID</th>
                                        <th scope="col" class="border-0">ФИО</th>
                                        <th scope="col" class="border-0">Номер телефона</th>
                                        <th scope="col" class="border-0">Дата</th>
                                        <th scope="col" class="border-0">Статус</th>
                                        <th scope="col" class="border-0">Оплата</th>
                                        <th scope="col" class="border-0 rounded-end">Действия</th>
                                    </tr>
                                    </thead>

                                    <!-- Table body START -->
                                    <tbody class="border-top-0">
                                    {% for application in applications %}
                                    <tr>
                                        <td><h6 class="mb-0">{{ application.id }}</h6></td>
                                        <td><h6 class="mb-0"><a
                                                href="{% url 'managers:application-detail' application.pk %}">{{ application.full_name }}</a></h6></td>
                                        <td> {{ application.phone_number }}</td>
                                        <td> {{ application.created_at|date:"d-m-Y H:i" }}</td>
                                        <td>
                                            <div class="badge
                                                {% if application.status == 'in_work' %}text-bg-primary
                                                {% elif application.status == 'first_approved' %}text-bg-warning
                                                {% elif application.status == 'approved' %}text-bg-success
                                                {% elif application.status == 'rejected' %}text-bg-danger
                                                {% else %}text-bg-secondary
                                                {% endif %}">
                                                {{ application.get_status_display }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="badge bg-success bg-opacity-10 text-success">{{ application.amount }} KZT
                                            </div>
                                        </td>
                                        <td>
                                            <form method="post" action="{% url 'managers:all-applications' %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="application_id" value="{{ application.id }}">
                                                <button type="submit" class="btn btn-sm btn-light mb-0">Принять</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <p>У вас нет заявок.</p>
                                    {% endfor %}
                                    </tbody>

                                    <!-- Table body END -->
                                </table>
                            </div>
                            <!-- Hotel room list END -->
                        </div>
                        <!-- Card body END -->

                        <!-- Card footer START -->
                        <div class="card-footer pt-0">
                            <!-- Pagination and content -->
                            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                                <!-- Content -->
                                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                                <!-- Pagination -->
                                <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
                                    <ul class="pagination pagination-sm pagination-primary-soft mb-0">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Prev</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                                        <li class="page-item"><a class="page-link" href="#">15</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Card footer END -->
                    </div>
                </div>
            </div>
            <!-- Booking table END -->
        </div>
    </section>
    <!-- =======================
    Content END -->

</main>
{% endblock %}