{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<main>

    <!-- =======================
    Menu item START -->
    <section class="pt-4">
        <div class="container">
            <div class="card rounded-3 border p-3 pb-2">
                <!-- Avatar and info START -->
                <div class="d-sm-flex align-items-center">
                    <div class="avatar avatar-xl mb-2 mb-sm-0">
                        <img class="avatar-img rounded-circle" src="{% if user.photo %} {{ user.photo.url }} {% else %} {% static 'website/images/user.png' %}{% endif %}" alt="">
                    </div>
                    <h4 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">{% if user.first_name %} Здравствуй,</span> {{ user.first_name }} {{ user.last_name }} 👋 {% else %} <a style="color: black; font-size: 25px; text-decoration: underline;" href="{% url 'managers:settings' %}">Заполните свои данные!</a>{% endif %}</h4>
                    <a href="{% url 'realtors:create-request' %}" class="btn btn-sm btn-primary-soft mb-0 ms-auto flex-shrink-0"><i
                            class="bi bi-plus-lg fa-fw me-2"></i>Создать заявку</a>
                </div>
                <!-- Avatar and info START -->

                <!-- Responsive navbar toggler -->
                <button class="btn btn-primary w-100 d-block d-xl-none mt-2" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#dashboardMenu" aria-controls="dashboardMenu">
                    <i class="bi bi-list"></i> Приборная панель
                </button>

                <!-- Nav links START -->
                <div class="offcanvas-xl offcanvas-end mt-xl-3" tabindex="-1" id="dashboardMenu">
                    <div class="offcanvas-header border-bottom p-3">
                        <h5 class="offcanvas-title">Menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#dashboardMenu" aria-label="Close"></button>
                    </div>
                    <!-- Offcanvas body -->
                    <div class="offcanvas-body p-3 p-xl-0">
                        <!-- Nav item -->
                        <div class="navbar navbar-expand-xl">
                            <ul class="navbar-nav navbar-offcanvas-menu">

                                <li class="nav-item"><a class="nav-link active" href="{% if user.role == 'manager' %}{% url 'managers:index' %}{% elif user.role == 'realtor' %}{% url 'realtors:index' %}{% else %}Error{% endif %}"><i
                                        class="bi bi-house-door fa-fw me-1"></i>Приборная панель</a></li>

                                <li class="nav-item"><a class="nav-link" href="agent-listings.html"><i
                                        class="bi bi-journals fa-fw me-1"></i>Listings</a></li>

                                <li class="nav-item"><a class="nav-link" href="agent-bookings.html"><i
                                        class="bi bi-bookmark-heart fa-fw me-1"></i>Bookings</a></li>

                                <li class="nav-item"><a class="nav-link" href="agent-activities.html"><i
                                        class="bi bi-bell fa-fw me-1"></i>Activities</a></li>

                                <li class="nav-item"><a class="nav-link" href="agent-earnings.html"><i
                                        class="bi bi-graph-up-arrow fa-fw me-1"></i>Earnings</a></li>

                                <li class="nav-item"><a class="nav-link" href="agent-reviews.html"><i
                                        class="bi bi-star fa-fw me-1"></i>Reviews</a></li>

                                <li><a class="nav-link" href="{% if user.role == 'manager' %}{% url 'managers:settings' %}{% elif user.role == 'realtor' %}{% url 'realtors:settings' %}{% else %}Error{% endif %}"><i class="bi bi-gear fa-fw me-1"></i>Настройки</a>
                                </li>

<!--                                <li class="nav-item dropdown">-->
<!--                                    <a class="nav-link dropdown-toggle" href="#" id="dropdoanMenu"-->
<!--                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                                        <i class="bi bi-list-ul fa-fw me-1"></i>Dropdown-->
<!--                                    </a>-->
<!--                                    <ul class="dropdown-menu" aria-labelledby="dropdoanMenu">-->
<!--                                        &lt;!&ndash; Dropdown menu &ndash;&gt;-->
<!--                                        <li><a class="dropdown-item" href="#">Item 1</a></li>-->
<!--                                        <li><a class="dropdown-item" href="#">Item 2</a></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Nav links END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Menu item END -->

    <!-- =======================
    Content START -->
    <section class="pt-0">
        <div class="container vstack gap-4">
            <!-- Title START -->
            <div class="row">
                <div class="col-12">
                    <h1 class="fs-4 mb-0"><i class="bi bi-gear fa-fw me-1"></i>Настройки</h1>
                </div>
            </div>
            <!-- Title END -->

            <!-- Tabs START -->
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light pb-0 px-2 px-lg-0 rounded-top">
                        <ul class="nav nav-tabs nav-bottom-line nav-responsive border-0 nav-justified" role="tablist">
                            <li class="nav-item" role="presentation"><a class="nav-link mb-0 active"
                                                                        data-bs-toggle="tab" href="#tab-1"
                                                                        aria-selected="true" role="tab"><i
                                    class="fas fa-cog fa-fw me-2"></i>Изменить профиль</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link mb-0" data-bs-toggle="tab"
                                                                        href="#tab-2" aria-selected="false"
                                                                        tabindex="-1" role="tab"><i
                                    class="fas fa-bell fa-fw me-2"></i>Настройки уведомлений</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link mb-0" data-bs-toggle="tab"
                                                                        href="#tab-3" aria-selected="false"
                                                                        tabindex="-1" role="tab"><i
                                    class="fas fa-user-circle fa-fw me-2"></i>Настройки аккаунта</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Tabs END -->

            <!-- Tabs Content START -->
            <div class="row g-4">
                <div class="col-12">
                    <div class="tab-content">
                        <!-- Tab content 1 START -->
                        <div class="tab-pane show active" id="tab-1" role="tabpanel">
                            <div class="row g-4">
                                <!-- Edit profile START -->
                                <div class="col-12">
                                    <div class="card border">
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">Edit Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            <!-- Full name -->
                                            <div class="mb-3">
                                                <label class="form-label">Name</label>
                                                <input type="text" class="form-control" value="Jacqueline Miller"
                                                       placeholder="Name">
                                            </div>
                                            <!-- Profile picture -->
                                            <div class="mb-3">
                                                <label class="form-label">Profile picture</label>
                                                <!-- Avatar upload START -->
                                                <div class="d-flex align-items-center">
                                                    <label class="position-relative me-4" for="uploadfile-1"
                                                           title="Replace this pic">
                                                        <!-- Avatar place holder -->
                                                        <span class="avatar avatar-xl">
														<img id="uploadfile-1-preview"
                                                             class="avatar-img rounded-circle border border-white border-3 shadow"
                                                             src="assets/images/avatar/01.jpg" alt="">
													</span>
                                                    </label>
                                                    <!-- Upload button -->
                                                    <label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">Change</label>
                                                    <input id="uploadfile-1" class="form-control d-none" type="file">
                                                </div>
                                                <!-- Avatar upload END -->
                                            </div>
                                            <!-- Email id -->
                                            <div class="mb-3">
                                                <label class="form-label">Email id</label>
                                                <input type="email" class="form-control" value="hello@gmail.com"
                                                       placeholder="Enter your email id">
                                            </div>
                                            <!-- Mobile number -->
                                            <div class="mb-3">
                                                <label class="form-label">Mobile number</label>
                                                <input type="text" class="form-control" value="222 555 666"
                                                       placeholder="Enter your mobile number">
                                            </div>
                                            <!-- Location -->
                                            <div class="mb-3">
                                                <label class="form-label">Location</label>
                                                <input class="form-control" type="text" value="New Hampshire">
                                            </div>
                                            <!-- Birthday -->
                                            <div>
                                                <label class="form-label">Birthday</label>
                                                <input type="text" class="form-control flatpickr flatpickr-input"
                                                       value="29 Aug 1994" placeholder="Enter your birth-date"
                                                       data-date-format="d M Y" readonly="readonly">
                                            </div>
                                            <!-- Save button -->
                                            <div class="d-flex justify-content-end mt-4">
                                                <a href="#" class="btn text-secondary border-0 me-2">Discard</a>
                                                <a href="#" class="btn btn-primary">Save change</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Edit profile END -->

                                <!-- Update Email START -->
                                <div class="col-md-6">
                                    <div class="card border">
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">Update Email</h5>
                                            <p class="mb-0 small">Your current email address is <span
                                                    class="text-primary">example@gmail.com</span></p>
                                        </div>
                                        <form class="card-body">
                                            <!-- Email -->
                                            <label class="form-label">Enter your new email id</label>
                                            <input type="email" class="form-control" placeholder="Enter your email id">

                                            <div class="text-end mt-3">
                                                <a href="#" class="btn btn-primary mb-0">Save Email</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- Update Email END -->

                                <!-- Update Password START -->
                                <div class="col-md-6">
                                    <div class="card border">
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">Update Password</h5>
                                            <p class="mb-0 small">Your current email address is <span
                                                    class="text-primary">example@gmail.com</span></p>
                                        </div>
                                        <!-- Card body START -->
                                        <form class="card-body">
                                            <!-- Current password -->
                                            <div class="mb-3">
                                                <label class="form-label">Current password</label>
                                                <input class="form-control" type="password"
                                                       placeholder="Enter current password">
                                            </div>
                                            <!-- New password -->
                                            <div class="mb-3">
                                                <label class="form-label"> Enter new password</label>
                                                <div class="input-group">
                                                    <input class="form-control fakepassword" type="password"
                                                           id="psw-input" placeholder="Enter new password">
                                                    <span class="input-group-text p-0 bg-transparent">
													<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
												</span>
                                                </div>
                                            </div>
                                            <!-- Confirm -->
                                            <div>
                                                <label class="form-label">Confirm new password</label>
                                                <input class="form-control" type="password"
                                                       placeholder="Confirm new password">
                                            </div>

                                            <div class="text-end mt-3">
                                                <a href="#" class="btn btn-primary mb-0">Change Password</a>
                                            </div>
                                        </form>
                                        <!-- Card body END -->
                                    </div>
                                </div>
                                <!-- Update Password END -->
                            </div>
                        </div>
                        <!-- Tab content 1 END -->

                        <!-- Tab content 2 START -->
                        <div class="tab-pane" id="tab-2" role="tabpanel">
                            <div class="card border mb-4">
                                <!-- Card header -->
                                <div class="card-header bg-transparent border-bottom">
                                    <h5 class="card-header-title">Notification Settings</h5>
                                    <p class="mb-0">Figure what you want to be notified about, and unsubscribe from what
                                        you don't.</p>
                                </div>

                                <!-- Form START -->
                                <form class="card-body">
                                    <!-- Radio -->
                                    <div class="mb-4">
                                        <label class="form-label">Newsletter *</label>
                                        <div class="d-flex gap-4 flex-wrap">
                                            <div class="form-check radio-bg-light">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDaily" checked="">
                                                <label class="form-check-label" for="flexRadioDaily">
                                                    Daily
                                                </label>
                                            </div>
                                            <div class="form-check radio-bg-light">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault2">
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Twice a week
                                                </label>
                                            </div>
                                            <div class="form-check radio-bg-light">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault3">
                                                <label class="form-check-label" for="flexRadioDefault3">
                                                    Weekly
                                                </label>
                                            </div>
                                            <div class="form-check radio-bg-light">
                                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                                       id="flexRadioDefault4">
                                                <label class="form-check-label" for="flexRadioDefault4">
                                                    Never
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Notify me via
                                            email when logging in</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy1"
                                               checked="">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy2">I would like to
                                            receive booking assist reminders</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy2"
                                               checked="">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy3">I would like to
                                            receive emails about Booking promotions</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy3"
                                               checked="">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy7">I would like to
                                            know about information and offers related to my upcoming trip</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy7"
                                               checked="">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy4">Show your profile
                                            publicly</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox"
                                               id="checkPrivacy4">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy6">Send SMS
                                            confirmation for all online payments</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox"
                                               id="checkPrivacy6">
                                    </div>

                                    <!-- Switch -->
                                    <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy5">Check which
                                            device(s) access your account</label>
                                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy5"
                                               checked="">
                                    </div>

                                    <!-- Button -->
                                    <div class="d-sm-flex justify-content-end">
                                        <button type="button" class="btn btn-sm btn-primary me-2 mb-0">Save changes
                                        </button>
                                        <a href="#" class="btn btn-sm btn-outline-secondary mb-0">Cancel</a>
                                    </div>
                                </form>
                                <!-- Form END -->
                            </div>
                        </div>
                        <!-- Tab content 2 END -->

                        <!-- Tab content 3 START -->
                        <div class="tab-pane" id="tab-3" role="tabpanel">
<!--                            <div class="row g-4">-->
<!--                                &lt;!&ndash; Security settings START &ndash;&gt;-->
<!--                                <div class="col-12">-->
<!--                                    <div class="card border">-->
<!--                                        <div class="card-header border-bottom">-->
<!--                                            <h5 class="card-header-title">Security settings</h5>-->
<!--                                        </div>-->
<!--                                        <div class="card-body">-->
<!--                                            &lt;!&ndash; Two step &ndash;&gt;-->
<!--                                            <form class="mb-3">-->
<!--                                                <h6>Two-factor authentication</h6>-->
<!--                                                <label class="form-label">Add a phone number to set up two-factor-->
<!--                                                    authentication</label>-->
<!--                                                <input type="text" class="form-control mb-2"-->
<!--                                                       placeholder="Enter your mobile number">-->
<!--                                                <button class="btn btn-sm btn-primary mb-0">Send Code</button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Security settings END &ndash;&gt;-->

<!--                                &lt;!&ndash; Linked account START &ndash;&gt;-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="card border rounded-3">-->
<!--                                        &lt;!&ndash; Card header &ndash;&gt;-->
<!--                                        <div class="card-header border-bottom">-->
<!--                                            <h5 class="card-header-title">Linked account</h5>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Card body START &ndash;&gt;-->
<!--                                        <div class="card-body pb-0">-->
<!--                                            &lt;!&ndash; Google &ndash;&gt;-->
<!--                                            <div class="position-relative mb-4 d-sm-flex bg-success bg-opacity-10 border border-success p-3 rounded">-->
<!--                                                &lt;!&ndash; Title and content &ndash;&gt;-->
<!--                                                <h2 class="fs-1 mb-0 me-3"><i-->
<!--                                                        class="fab fa-google text-google-icon"></i></h2>-->
<!--                                                <div>-->
<!--                                                    <div class="position-absolute top-0 start-100 translate-middle bg-white rounded-circle lh-1 h-20px">-->
<!--                                                        <i class="bi bi-check-circle-fill text-success fs-5"></i>-->
<!--                                                    </div>-->
<!--                                                    <h6 class="mb-1">Google</h6>-->
<!--                                                    <p class="mb-1 small">You are successfully connected to your Google-->
<!--                                                        account</p>-->
<!--                                                    &lt;!&ndash; Button &ndash;&gt;-->
<!--                                                    <button type="button" class="btn btn-sm btn-danger mb-0">Invoke-->
<!--                                                    </button>-->
<!--                                                    <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn-->
<!--                                                        more</a>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--                                            <div class="mb-4 d-sm-flex border p-3 rounded">-->
<!--                                                &lt;!&ndash; Title and content &ndash;&gt;-->
<!--                                                <h2 class="fs-1 mb-0 me-3"><i-->
<!--                                                        class="fab fa-linkedin-in text-linkedin"></i></h2>-->
<!--                                                <div>-->
<!--                                                    <h6 class="mb-1">Linkedin</h6>-->
<!--                                                    <p class="mb-1 small">Connect with Linkedin account for a-->
<!--                                                        personalized experience</p>-->
<!--                                                    &lt;!&ndash; Button &ndash;&gt;-->
<!--                                                    <button type="button" class="btn btn-sm btn-primary mb-0">Connect-->
<!--                                                        Linkedin-->
<!--                                                    </button>-->
<!--                                                    <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn-->
<!--                                                        more</a>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Facebook &ndash;&gt;-->
<!--                                            <div class="mb-4 d-sm-flex border p-3 rounded">-->
<!--                                                &lt;!&ndash; Title and content &ndash;&gt;-->
<!--                                                <h2 class="fs-1 mb-0 me-3"><i class="fab fa-facebook text-facebook"></i>-->
<!--                                                </h2>-->
<!--                                                <div>-->
<!--                                                    <h6 class="mb-1">Facebook</h6>-->
<!--                                                    <p class="mb-1 small">Connect with Facebook account for a-->
<!--                                                        personalized experience</p>-->
<!--                                                    &lt;!&ndash; Button &ndash;&gt;-->
<!--                                                    <button type="button" class="btn btn-sm btn-primary mb-0">Connect-->
<!--                                                        Facebook-->
<!--                                                    </button>-->
<!--                                                    <a href="#" class="btn btn-sm btn-link text-body mb-0">Learn-->
<!--                                                        more</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Card body END &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Linked account END &ndash;&gt;-->

<!--                                &lt;!&ndash; Social account END &ndash;&gt;-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="card border rounded-3">-->
<!--                                        &lt;!&ndash; Card header &ndash;&gt;-->
<!--                                        <div class="card-header border-bottom">-->
<!--                                            <h5 class="card-header-title">Social media profile</h5>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Card body START &ndash;&gt;-->
<!--                                        <div class="card-body">-->
<!--                                            &lt;!&ndash; Facebook username &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label class="form-label"><i-->
<!--                                                        class="fab fa-facebook text-facebook me-2"></i>Enter facebook-->
<!--                                                    username</label>-->
<!--                                                <input class="form-control" type="text" value="loristev"-->
<!--                                                       placeholder="Enter username">-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Twitter username &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label class="form-label"><i-->
<!--                                                        class="bi bi-twitter text-twitter me-2"></i>Enter twitter-->
<!--                                                    username</label>-->
<!--                                                <input class="form-control" type="text" value="loristev"-->
<!--                                                       placeholder="Enter username">-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Instagram username &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label class="form-label"><i-->
<!--                                                        class="fab fa-instagram text-instagram-gradient me-2"></i>Enter-->
<!--                                                    instagram username</label>-->
<!--                                                <input class="form-control" type="text" value="loristev"-->
<!--                                                       placeholder="Enter username">-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Youtube &ndash;&gt;-->
<!--                                            <div class="mb-3">-->
<!--                                                <label class="form-label"><i-->
<!--                                                        class="fab fa-youtube text-youtube me-2"></i>Add your youtube-->
<!--                                                    profile URL</label>-->
<!--                                                <input class="form-control" type="text"-->
<!--                                                       value="https://www.youtube.com/in/Booking-05620abc"-->
<!--                                                       placeholder="Enter username">-->
<!--                                            </div>-->

<!--                                            &lt;!&ndash; Button &ndash;&gt;-->
<!--                                            <div class="d-flex justify-content-end mt-4">-->
<!--                                                <button type="button" class="btn btn-primary mb-0">Save change</button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Card body END &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Social account END &ndash;&gt;-->

<!--                                &lt;!&ndash; Active logs START &ndash;&gt;-->
<!--                                <div class="col-12">-->
<!--                                    <div class="card border">-->

<!--                                        &lt;!&ndash; Card header &ndash;&gt;-->
<!--                                        <div class="card-header border-bottom">-->
<!--                                            <h5 class="card-header-title">Active Logs</h5>-->
<!--                                        </div>-->

<!--                                        &lt;!&ndash; Card body START &ndash;&gt;-->
<!--                                        <div class="card-body">-->
<!--                                            &lt;!&ndash; Table START &ndash;&gt;-->
<!--                                            <div class="table-responsive border-0">-->
<!--                                                <table class="table align-middle p-4 mb-0 table-hover">-->

<!--                                                    &lt;!&ndash; Table head &ndash;&gt;-->
<!--                                                    <thead class="table-light">-->
<!--                                                    <tr>-->
<!--                                                        <th scope="col" class="border-0 rounded-start">Browser</th>-->
<!--                                                        <th scope="col" class="border-0">IP</th>-->
<!--                                                        <th scope="col" class="border-0">Time</th>-->
<!--                                                        <th scope="col" class="border-0 rounded-end">Action</th>-->
<!--                                                    </tr>-->
<!--                                                    </thead>-->

<!--                                                    &lt;!&ndash; Table body START &ndash;&gt;-->
<!--                                                    <tbody>-->
<!--                                                    &lt;!&ndash; Table row &ndash;&gt;-->
<!--                                                    <tr>-->
<!--                                                        <td> Chrome On Window</td>-->
<!--                                                        <td> 173.238.198.108</td>-->
<!--                                                        <td> 12 Nov 2021</td>-->
<!--                                                        <td>-->
<!--                                                            <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">-->
<!--                                                                Sign out-->
<!--                                                            </button>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->

<!--                                                    &lt;!&ndash; Table row &ndash;&gt;-->
<!--                                                    <tr>-->
<!--                                                        <td> Mozilla On Window</td>-->
<!--                                                        <td> 107.222.146.90</td>-->
<!--                                                        <td> 08 Nov 2021</td>-->
<!--                                                        <td>-->
<!--                                                            <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">-->
<!--                                                                Sign out-->
<!--                                                            </button>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->

<!--                                                    &lt;!&ndash; Table row &ndash;&gt;-->
<!--                                                    <tr>-->
<!--                                                        <td> Chrome On iMac</td>-->
<!--                                                        <td> 231.213.125.55</td>-->
<!--                                                        <td> 06 Nov 2021</td>-->
<!--                                                        <td>-->
<!--                                                            <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">-->
<!--                                                                Sign out-->
<!--                                                            </button>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->

<!--                                                    &lt;!&ndash; Table row &ndash;&gt;-->
<!--                                                    <tr>-->
<!--                                                        <td>Mozilla On Window</td>-->
<!--                                                        <td> 37.242.105.138</td>-->
<!--                                                        <td> 02 Nov 2021</td>-->
<!--                                                        <td>-->
<!--                                                            <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">-->
<!--                                                                Sign out-->
<!--                                                            </button>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    </tbody>-->
<!--                                                    &lt;!&ndash; Table body END &ndash;&gt;-->
<!--                                                </table>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash; Table END &ndash;&gt;-->

<!--                                            &lt;!&ndash; Active session &ndash;&gt;-->
<!--                                            <form class="mt-4">-->
<!--                                                <h6 class="mb-0">Active sessions</h6>-->
<!--                                                <p class="mb-2">Selecting "Sign out" will sign you out from all devices-->
<!--                                                    except this one. This can take up to 10 minutes.</p>-->
<!--                                                <button class="btn btn-sm btn-danger mb-0">Sign Out of all devices-->
<!--                                                </button>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                        &lt;!&ndash; Card body END &ndash;&gt;-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                &lt;!&ndash; Active logs END &ndash;&gt;-->
<!--                            </div>-->
                        </div>
                        <!-- Tab content 3 END -->
                    </div>
                </div>
            </div>
            <!-- Tabs Content END -->
        </div>
    </section>
    <!-- =======================
    Content END -->

</main>
{% endblock %}