{% extends 'app/base.html' %}
{% load static %}


{% block content %}
<main>

    <!-- =======================
    Menu item START -->
    <section class="pt-4">
        <div class="container">
            <div class="card rounded-3 border p-3 pb-2">
                <!-- Avatar and info START -->
                <div class="d-sm-flex align-items-center">
                    <div class="avatar avatar-xl mb-2 mb-sm-0">
                        <img class="avatar-img rounded-circle"
                             src="{% if user.photo %} {{ user.photo.url }} {% else %} {% static 'website/images/user.png' %}{% endif %}"
                             alt="">
                    </div>
                    <h4 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">{% if user.first_name %} Здравствуй,</span>
                        {{ user.first_name }} {{ user.last_name }} 👋 {% else %} <a
                                style="color: black; font-size: 25px; text-decoration: underline;"
                                href="{% url 'users:profile' %}">Заполните свои данные!</a>{% endif %}</h4>
                    <a href="{% url 'realtors:create-request' %}" class="btn btn-sm mb-0 ms-auto flex-shrink-0"
                       style="background-color: #099642; color: white;"><i
                            class="bi bi-plus-lg fa-fw me-2"></i>Создать заявку</a>

                    <style>
                        @media (max-width: 767.98px) {
                            a.btn.btn-sm.mb-0.ms-auto.flex-shrink-0 {
                                width: 100%;
                            }
                            .d-sm-flex.align-items-center {
                                text-align: center;
                            }
                        }
                    </style>

                </div>
                <!-- Avatar and info START -->

                <!-- Responsive navbar toggler -->
                <button class="btn w-100 d-block d-xl-none mt-2" style="background-color: #099642; color: white;" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#dashboardMenu" aria-controls="dashboardMenu">
                    <i class="bi bi-list"></i> Приборная панель
                </button>

                <!-- Nav links START -->
                <div class="offcanvas-xl offcanvas-end mt-xl-3" tabindex="-1" id="dashboardMenu">
                    <div class="offcanvas-header border-bottom p-3">
                        <h5 class="offcanvas-title">Меню</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                data-bs-target="#dashboardMenu" aria-label="Close"></button>
                    </div>
                    <!-- Offcanvas body -->
                    <div class="offcanvas-body p-3 p-xl-0" style="justify-content: center;">
                        <!-- Nav item -->
                        <div class="navbar navbar-expand-xl">
                            <ul class="navbar-nav navbar-offcanvas-menu">

                                <li class="nav-item"><a class="nav-link" href="{% url 'realtors:index' %}"><i
                                        class="bi bi-house-door fa-fw me-1"></i>Приборная панель</a></li>

                                <li class="nav-item"><a class="nav-link active" href="{% url 'realtors:my-applications' %}"><i
                                        class="bi bi-journals fa-fw me-1"></i>Мои заявки</a></li>

<!--                                <li class="nav-item"><a class="nav-link" href="agent-bookings.html"><i-->
<!--                                        class="bi bi-bookmark-heart fa-fw me-1"></i>Bookings</a></li>-->

                                <li class="nav-item"><a class="nav-link" href="#"><i
                                        class="bi bi-bell fa-fw me-1"></i>Помощь</a></li>

<!--                                <li class="nav-item"><a class="nav-link" href="agent-earnings.html"><i-->
<!--                                        class="bi bi-graph-up-arrow fa-fw me-1"></i>Earnings</a></li>-->

<!--                                <li class="nav-item"><a class="nav-link" href="agent-reviews.html"><i-->
<!--                                        class="bi bi-star fa-fw me-1"></i>Reviews</a></li>-->

                                <li><a class="nav-link" href="{% url 'users:profile' %}"><i
                                        class="bi bi-gear fa-fw me-1"></i>Аккаунт</a>
                                </li>

                                <!--                                <li class="nav-item dropdown">-->
                                <!--                                    <a class="nav-link dropdown-toggle" href="#" id="dropdoanMenu"-->
                                <!--                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                <!--                                        <i class="bi bi-list-ul fa-fw me-1"></i>Dropdown-->
                                <!--                                    </a>-->
                                <!--                                    <ul class="dropdown-menu" aria-labelledby="dropdoanMenu">-->
                                <!--                                        &lt;!&ndash; Dropdown menu &ndash;&gt;-->
                                <!--                                        <li><a class="dropdown-item" href="#">Item 1</a></li>-->
                                <!--                                        <li><a class="dropdown-item" href="#">Item 2</a></li>-->
                                <!--                                    </ul>-->
                                <!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Nav links END -->
            </div>
        </div>
    </section>
    <!-- =======================
    Menu item END -->

    <!-- =======================
    Content START -->
    <section class="pt-0">
        <div class="container vstack gap-4">

            <!-- Booking table START -->
            <div class="row">
                <div class="col-12">
                    <div class="card border rounded-3">
                        <!-- Card header START -->
                        <div class="card-header border-bottom">
                            <div class="d-sm-flex justify-content-between align-items-center">
                                <h5 class="mb-2 mb-sm-0">Мои заявки</h5>
                                <a href="{% url 'realtors:my-applications' %}" class="btn btn-sm mb-0"
                                   style="background-color: #099642; color: white;">Посмотреть
                                    все</a>
                            </div>
                        </div>
                        <!-- Card header END -->

                        <!-- Card body START -->
                        <div class="card-body">
                            <!-- Search and select START -->
                            <div class="row g-3 align-items-center justify-content-between mb-3">
                                <!-- Search -->
                                <div class="col-md-8">
                                    <form class="rounded position-relative">
                                        <input class="form-control pe-5" type="search" placeholder="Search"
                                               aria-label="Search">
                                        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                                type="submit"><i class="fas fa-search fs-6"></i></button>
                                    </form>
                                </div>

                                <!-- Select option -->
                                <div class="col-md-3">
                                    <!-- Short by filter -->
                                    <form>
                                        <div class="choices" data-type="select-one" tabindex="0" role="listbox"
                                             aria-haspopup="true" aria-expanded="false">
                                            <div class="choices__list choices__list--dropdown" aria-expanded="false">
                                                <div class="choices__list" role="listbox">
                                                    <div id="choices--dlr3-item-choice-1"
                                                         class="choices__item choices__item--choice is-selected choices__placeholder choices__item--selectable is-highlighted"
                                                         role="option" data-choice="" data-id="1" data-value=""
                                                         data-select-text="Press to select" data-choice-selectable=""
                                                         aria-selected="true">Sort by
                                                    </div>
                                                    <div id="choices--dlr3-item-choice-2"
                                                         class="choices__item choices__item--choice choices__item--selectable"
                                                         role="option" data-choice="" data-id="2" data-value="Free"
                                                         data-select-text="Press to select" data-choice-selectable="">
                                                        Free
                                                    </div>
                                                    <div id="choices--dlr3-item-choice-3"
                                                         class="choices__item choices__item--choice choices__item--selectable"
                                                         role="option" data-choice="" data-id="3" data-value="Newest"
                                                         data-select-text="Press to select" data-choice-selectable="">
                                                        Newest
                                                    </div>
                                                    <div id="choices--dlr3-item-choice-4"
                                                         class="choices__item choices__item--choice choices__item--selectable"
                                                         role="option" data-choice="" data-id="4" data-value="Oldest"
                                                         data-select-text="Press to select" data-choice-selectable="">
                                                        Oldest
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- Search and select END -->

                            <!-- Hotel room list START -->
                            <div class="table-responsive border-0">
                                <table class="table align-middle p-4 mb-0 table-hover table-shrink">
                                    <!-- Table head -->
                                    <thead class="table-light">
                                    <tr>
                                        <th scope="col" class="border-0 rounded-start">ID</th>
                                        <th scope="col" class="border-0">ФИО</th>
                                        <th scope="col" class="border-0">Номер телефона</th>
                                        <th scope="col" class="border-0">Дата</th>
                                        <th scope="col" class="border-0">Статус</th>
                                        <th scope="col" class="border-0">Оплата</th>
                                        <th scope="col" class="border-0 rounded-end">Действия</th>
                                    </tr>
                                    </thead>

                                    <!-- Table body START -->
                                    <tbody class="border-top-0">
                                    <!-- Table item -->
                                    {% for application in applications %}
                                    <tr>
                                        <td><h6 class="mb-0">{{ application.id }}</h6></td>
                                        <td><h6 class="mb-0"><a href="{% url 'realtors:application-detail' application.pk  %}">{{ application.full_name }}</a></h6></td>
                                        <td> {{ application.phone_number }}</td>
                                        <td> {{ application.created_at|date:"d-m-Y H:i" }}</td>
                                        <td>
                                            <div class="badge
                                                {% if application.status == 'in_work' %}text-bg-primary
                                                {% elif application.status == 'first_approved' %}text-bg-warning
                                                {% elif application.status == 'approved' %}text-bg-success
                                                {% elif application.status == 'rejected' %}text-bg-danger
                                                {% else %}text-bg-secondary
                                                {% endif %}">
                                                {{ application.get_status_display }}
                                            </div>
                                        </td>

                                        <td>
                                            <div class="badge bg-success bg-opacity-10 text-success">{{ application.amount }} KZT
                                            </div>
                                        </td>
                                        <td><a href="#" class="btn btn-sm btn-light mb-0">Посмотреть</a></td>
                                    </tr>
                                    {% empty %}
                                    <p>У вас нет заявок.</p>
                                    {% endfor %}

                                    </tbody>
                                    <!-- Table body END -->
                                </table>
                            </div>
                            <!-- Hotel room list END -->
                        </div>
                        <!-- Card body END -->

                    </div>
                </div>
            </div>
            <!-- Booking table END -->
        </div>
    </section>
    <!-- =======================
    Content END -->

</main>
{% endblock %}